@import "./styles/bootstrap/bootstrap.scss";


body {
    background-color: rgba(0, 0, 0,0.9);
}

header {
    height: 100vh;
    background-image: url("./assets/imgs/bg.png");
    background-position: center; 
    background-size: 100% 100%;    
    background-repeat: no-repeat;
    .overlay {
        background-color: rgba(0, 0, 0,0.6);
        height: inherit;
    }
    nav {
        height: 60px;
        .navbar {
            // background: linear-gradient(180deg, #593F73 30.47%, rgba(89, 63, 115, 0.380469) 86%, rgba(76, 55, 98, 0.35) 86.01%);
            display: flex;
            justify-content: space-between;
            // background-color: green;
            padding-top: 0rem;
            &-brand {
                max-width: 232px;
                height: 83px;
                display: flex;
                z-index: 1;
                img {
                    max-width: 250px;
                    max-height: 300px;
                }
            }
            .btn {
                background: linear-gradient(180deg, #593F73 30.47%, rgba(89, 63, 115, 0.380469) 86%, rgba(76, 55, 98, 0.35) 86.01%);
                color: #FFFFFF;
                height: 30px;
                width: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                :active {
                    box-shadow: none;
                }
            }
            &-items {
                // background-color: red;
                ul {
                    li {
                        a {
                            height: 29.01px;
                            font-family: "Montserrat";
                            font-style: normal;
                            font-weight: bold;
                            font-size: 17px;
                            line-height: 21px;
                            letter-spacing: 0.015em;
                            color: #FFFFFF;
                            text-shadow: 0px 4px 7px rgba(0, 0, 0, 0.7);
                        }
                    }
                }
            }
        }
    }

    .profile {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 90%;
        margin-top: 70px;
        // background-color: rgba(0, 0, 0,0.1);
        .profile-images {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 350px;
            button {
                display: flex;
                position: absolute;
                top: 45%;
                width: 40px;
                height: 40px;
                border-radius: 100%;
                background: rgba(255, 255, 255, 0.4);
                color: #4B3767;
            }
            .btn1 {
                left: 1%;
            }
            .btn2 {
                right: 1%;
            }
            .profile-image {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 33.3%;
                img {
                    width: 170px;
                    height: 240px;
               }
            }
            .img2 {
                img {
                    z-index: 1;
                    height: 380px;
                    width: 270px;
                }
            }
        }
        .btn {
            margin-top: 25px;
            width: 170.25px;
            height: 30px;
            background: linear-gradient(180deg, #593F73 30.47%, rgba(89, 63, 115, 0.380469) 86%, rgba(76, 55, 98, 0.35) 86.01%);
            border-radius: 8px;
            color: #FFFFFF;
            font-family: "Montserrat";
            font-style: normal;
            font-weight: bold;
            font-size: 15px;
            line-height: 20px;
            text-align: center;
        }
    }
}
@media screen and (max-width: 768px) {
    header {
        background-size: cover;
        .navbar-items {
            background: linear-gradient(180deg, #593F73 30.47%, rgba(89, 63, 115, 0.380469) 86%, rgba(76, 55, 98, 0.35) 100%);
            background-color: black;
            height: 40px;
            width: 100%;
            display: flex;
            justify-content: center;
        }
        .profile {
            width: 90%;
            .profile-image {
                margin-top: 50px;
                img {
                    max-width: 110px;
                    max-height: 175px;
               }
            }
            .img2 {
                img {
                    z-index: 1;
                    max-height: 260px;
                    max-width: 157px;
                }
            }
        }
    }
}
@media screen and (min-width: 768px) {
    header {
        .profile {
            .profile-images {
                margin-bottom: 50px;
                .btn1 {
                    left: 8%;
                }
                .btn2 {
                    right: 8%;
                }
            }
        }
    }
}
@media screen and (min-width: 968px) {
    header {
        .profile {
            .profile-images {
                width: 75%;
                .btn1 {
                    left: 15%;
                }
                .btn2 {
                    right: 15%;
                }
            }
        }
    }
}
